<section class="bg-tertiary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Try it out!</h2>
                <hr class="light">
                <p class="text-faded">Log in to the application as a guest or with your own account. The docs will help you get up and running. No strings attached!</p>
                <a href="https://app.bindingz.io/login" target="_blank" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
