<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top">
                <strong><span class="bz-colour-tertiary">&#x007B;</span>bindingz<span class="bz-colour-tertiary">&#x007D;</span></strong>&nbsp;<span class="badge beta-badge no-text-transform">Beta</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Get Started</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Use Cases</a>
                </li>
                <li>
                    <a class="page-scroll" target="_blank" href="https://docs.bindingz.io">Docs</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" target="_blank" href="https://app.bindingz.io/login">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
