<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Use Cases</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-share-alt wow bounceIn text-primary"></i>
                    <h3>Share data schemas</h3>
                    <p class="text-muted">Share data models across your teams and services.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumb-tack wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Track schema versions</h3>
                    <p class="text-muted">Track versions. Discover forward and backward compatibility issues.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Generate consistent code</h3>
                    <p class="text-muted">Add compile time code generation consistently. Fail fast when incremental versions are incompatible.</p>
                </div>
            </div>
        </div>
    </div>
</section>
